.wrapper{
  background-color: black;
  min-height: 500px;
  border-radius: 1em;
}

.resultado{
  color:white;
  display: flex;
  justify-content: flex-end;
  margin-right: 1em;
}

button{
  width:3em;
  height: 3em;
  border-radius: 3em;
  font-size: 1.5em;
  margin: 0.3em;
}

.orange{
  background-color: orange;
  color: white;
}

.grey{
  background-color: grey;
  color: white;
}